{
    "extends": [
        "next"
    ],
    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": [
                    "Link"
                ],
                "specialLink": [
                    "hrefLeft",
                    "hrefRight"
                ],
                "aspects": [
                    "invalidHref",
                    "preferButton"
                ]
            }
        ],
        "camelcase": "warn",
        "array-callback-return": [
            "error",
            {
                "allowImplicit": true
            }
        ],
        "dot-notation": "warn",
        "no-duplicate-imports": "warn",
        "no-else-return": "warn",
        "no-empty": 0,
        "no-extra-boolean-cast": "warn",
        "no-floating-decimal": "warn",
        "no-undef": "warn",
        "no-unneeded-ternary": "warn",
        "no-unused-vars": "warn",
        "no-useless-return": "warn",
        "no-use-before-define": [
            "warn",
            {
                "functions": true,
                "classes": true
            }
        ],
        "no-useless-rename": "warn",
        "prefer-arrow-callback": "warn",
        "prefer-const": "warn",
        "prefer-object-spread": "warn",
        "prefer-rest-params": "warn",
        "require-atomic-updates": "error",
        "react/display-name": 0,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "@next/next/no-img-element": 0
    }
}