@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    position: relative;
    display: flex;
    flex-direction: column;
}

.ephemeraDownloadForm {
    display: flex;
    flex: 1;
}

.input {
    flex: 1;
    font-size: 1.4rem;
    margin-right: 1rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border: 2px solid #666;
    border-radius: 4px;
    appearance: none;

    &::placeholder {
        color: #aaa;
    }

    &:disabled {
        border-color: rgba(black, 0.25);
        background-color: transparent;
    }
}

.submitButton,
.uploadButton {
    @include haasMedium;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border: 2px solid #666;
    border-radius: 4px;
    background: white;
    cursor: pointer;
    appearance: none;

    &:disabled,
    &-isDisabled {
        cursor: auto;
        color: rgba(black, 0.25);
        border-color: currentColor;
    }
}

.uploadButton {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;

    &:focus-within {
        outline: 3px auto blue;
        outline: 3px auto -webkit-focus-ring-color;
    }
}

.uploadButtonHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
    overflow: hidden;
}

.separator {
    width: auto;
    height: 2px;
    padding: 0;
    margin: 1rem 0.5rem;
    border-style: none;
    background-color: black;
    opacity: 0.2;
}

@include medium {
    .root {
        flex-direction: row;
    }

    .input {
        font-size: 1.6rem;
        margin-right: 0.75rem;
        padding: 0.5rem 0.5rem 0.5rem 1rem;
    }

    .submitButton,
    .uploadButton {
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }

    .separator {
        width: 2px;
        height: auto;
        margin: 0.3rem 1.5rem;
    }
}

@include large {
    .input {
        font-size: 1.8rem;
        margin-right: 1rem;
    }

    .separator {
        margin: 0.3rem 2rem;
    }
}
