@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    position: relative;
    display: flex;
    flex-direction: column;
}

.isDragAccept {
    &::before {
        @include haasMedium;
        content: "Drop it like it's hot";
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--form-input-background);
        border: 0.2rem dashed var(--form-border);
        border-radius: 0.4rem;
        color: var(--form-input-placeholder);
    }

    .uploadButton,
    .separator,
    .downloadForm {
        visibility: hidden;
    }
}

.downloadForm {
    display: flex;
    flex: 1;
}

.input {
    margin-right: 1rem;
    flex: 1;
}

.separator {
    width: auto;
    height: 0.1rem;
    padding: 0;
    margin: 1.5rem 0.5rem;
    border-style: none;
    background-color: var(--white);
    opacity: 0.3;
}

.error {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    color: #f00;
}

@include medium {
    .root {
        flex-direction: row;
    }

    .input {
        margin-right: 0.75rem;
    }

    .separator {
        width: 2px;
        height: auto;
        margin: 0.3rem 1.5rem;
    }
}

@include large {
    .input {
        margin-right: 1rem;
    }

    .separator {
        margin: 0.3rem 2rem;
    }
}
