@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    position: relative;
}

.infoContainer {
    > p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.image {
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
}
