@import 'styles/breakpoints';
@import 'styles/fonts';

.root {
    @include haasRoman;
    padding: 1.5rem 2.5rem 20rem;

    &-isHidden {
        visibility: hidden;
    }
}

.extract {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 4rem;
}

@include medium {
    .root {
        padding: 2rem 3.5rem;
    }

    .extract {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        .forms {
            width: 50%;
            margin-right: 7rem;
        }

        .ephemeraInfo {
            width: 50%;
        }
    }
}

@include large {
    .root {
        padding: 3rem 5rem;
    }

    .extract {
        .forms {
            width: 70%;
        }

        .ephemeraInfo {
            width: 30%;
        }
    }
}
