:root {
    --white: #eee;

    --headline-color: var(--white);
    --sub-headline-color: #888;

    --form-color: #ccc;
    --form-border: #aaa;
    --form-input-background: #0006;
    --form-input-placeholder: #ccc7;
    --form-button-background: #333a;
    --form-button-background-hover: #444a;

    --disabled-form-color: #ccc6;
    --disabled-form-border: #aaa6;
    --disabled-form-input-placeholder: #7776;
    --disabled-form-button-background: #3336;
}
